@font-face {
  font-family: "Chivo";
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-Thin.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-Thin.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-ExtraLight.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-Light.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-Light.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-Regular.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-Medium.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-Medium.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Chivo/Chivo-Bold.woff2") format("woff2"),
    url("/fonts/Chivo/Chivo-Bold.woff") format("woff");
}
